{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div id="landing">
        {% if page.display_title %}
            <h1>{{ page.title }}</h1>
        {% endif %}
        {{ page.landing_section_text|richtext }}
        <div style="display: flex; justify-content: center; overflow: hidden; width: 100%;">
            {% image page.landing_image_section fill-600x203 as img %}
            <img src="{{ img.url }}" alt="{{ img.alt }}" style="width: 100%; height: auto;">
        </div>
    </div>
    <div id="about_us">
        <h1>{{ page.about_us_section_title }}</h1>
        {{ page.about_us_section_text|richtext }}
    </div>
    <div id="services">
        <h1>{{ page.services_section_title }}</h1>
        {{ page.services_section_text|richtext }}
    </div>
    <div id="contact_us">
        <h1>{{ page.contact_us_section_title }}</h1>
        {{ page.contact_us_section_text|richtext }}
    </div>
{% endblock content %}
