{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div id="landing">
        <h1>{{ page.title }}</h1>
        {{ page.landing_section_text|richtext }}
    </div>
    <div id="about_us">
        <h1>{{ page.about_us_section_title }}</h1>
        {{ page.about_us_section_text|richtext }}
    </div>
    <div id="services">
        <h1>{{ page.services_section_title }}</h1>
        {{ page.services_section_text|richtext }}
    </div>
{% endblock content %}
